:root{
	--SIDE_WIDTH: 200px;
	--MARGIN: 5px;
}

.SIDE{
	position: absolute;
	top: 0px;
	left: 0px;

	width: calc(var(--SIDE_WIDTH) - var(--MARGIN));
	height: calc(100vh - (var(--MARGIN) * 2));

	padding: 10px;
	margin: var(--MARGIN);
}

.SIDE > .TITLE{
	font-size: 40px;
	color: black;
	text-decoration: none;
}

.CONTENTS{
	position: absolute;
	top: 0px;
	left: var(--SIDE_WIDTH);

	width: calc(100vw - var(--SIDE_WIDTH) - (var(--MARGIN) * 2));
	height: calc(100vh - (var(--MARGIN) * 2));

	padding: 10px;
	margin: var(--MARGIN);
}